html,body,ul,li,p, h1, h2, h3, h4, h5, h6, div, blockquote{
    margin:0px;
    padding:0px;
}
ul li {
    list-style-type: none;
}
.topbar,.navigation{
    width:2045px;
}
.topbar > div{
    display: flex;
}
.navigation > div{
    width:1785px;
    display: flex;
    justify-content: center;   
}

.menu{
    display: flex;
    justify-content: flex-end;
    width:1542px;
}
.mensubmenu{
    display: none;
}