html, div, ul, li, p, h1,h2,h3,h4,h5,h6, blockquote{
    padding:0px;
    margin:0px;
}
div.main{
    width:600px;
    margin:auto;
    border:1px solid black;
    padding:10px;
}
button{
    width:100px;
    border-radius: 5px;
}
input[type="text"]{
    width:200px;
}
.newtask{
    margin:10px;
}
.newtask input{
    width:400px;
}
.main div input{
    display:none;
}